body {
  margin: 0;
}



.barra{

margin: auto;
max-width: 800px;
}


 .barra ul {
	list-style-type: none;
	
	overflow: hidden;

	font-family: 'Familjen Grotesk', sans-serif;
	font-weight: 500;

}


.barra li {
	float: left;

 
}


.barra li a {
	display: inline-block;
	
  font-size: 28px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  text-align: center;

}








.header {
  text-align: left;
  padding: 32px;
  float: left;
  font-family: 'Merienda', cursive;
  font-weight: 700;
  font-size: 20px;
}



.descricao{
	font-family: 'Familjen Grotesk', sans-serif;
	font-weight: 500;
	font-size: 16px;
	padding: 90px;
	padding-left: 400px;
}

.nome{
	text-align: left;
padding: 45px;
  
  font-family: 'Merienda', cursive;
  font-weight: 700;
  font-size: 20px;
  float: left;
}

.logo{
	padding-left: 400px;
	padding-top: 100px;

}


.rodape{
	text-align: center;
	font-family: 'Familjen Grotesk', sans-serif;
	font-weight: 400;
	font-size: 10px;
	padding-top: 150px;
}








.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
  font-family: 'Merienda', cursive;
}


.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}



.container {
position: relative;
margin-left: 5px;
}



.image {
display: block;
width: 100%;
height: auto;
}

.barra li h3 a{
color: #7D1B22;
}

.barra li h4 a{
color: #A85E53;
}

h1{
  color: #7D1B22;
}

h2{
  color: #A85E53;
}


a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
}
